@page "/Account/RegisterConfirmation"

@using System.Text
@using FitTrack.Components.Account
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using FitTrack.Data

@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Register confirmation</PageTitle>
<PageHeaderTitle Title="Register Confirmation" />

<StatusMessage Message="@statusMessage" />
<MudStack Justify="Justify.Center" AlignItems="AlignItems.Center">
    <MudPaper Elevation="2" Class="pa-6 mt-12">

        @if (emailConfirmationLink is not null)
        {
            <MudText Typo="Typo.h4" GutterBottom>
                Thank you for registering for FitTrack.
            </MudText>
            <MudLink Href="@emailConfirmationLink">
                <MudStaticButton Variant="Variant.Filled" Color="Color.Primary">
                    Click here to confirm your account
                </MudStaticButton>
            </MudLink>
        }
        else
        {
            <p role="alert">Please check your email to confirm your account.</p>
        }
    </MudPaper>
</MudStack>

@code {
    private string? emailConfirmationLink;
    private string? statusMessage;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? Email { get; set; }

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error finding user for unspecified email";
        }
        else if (EmailSender is IdentityNoOpEmailSender)
        {
            // Once you add a real email sender, you should remove this code that lets you confirm the account
            var userId = await UserManager.GetUserIdAsync(user);
            var code = await UserManager.GenerateEmailConfirmationTokenAsync(user);
            code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
            emailConfirmationLink = NavigationManager.GetUriWithQueryParameters(
                NavigationManager.ToAbsoluteUri("Account/ConfirmEmail").AbsoluteUri,
                new Dictionary<string, object?> { ["userId"] = userId, ["code"] = code, ["returnUrl"] = ReturnUrl });
        }
    }
}
